@font-face{

font-family: 'Karbon-Semibold';
src:
    local('Karbon-Semibold'),
    local('Karbon-Semibold'),
    url('../../fonts/Karbon-Semibold.otf');
  ;
}

@font-face{
font-family: 'Karbon';
  src:
      local('Karbon'),
      local('Karbon'),
      url("../../fonts/Karbon-Light.otf");
      ;
}

@font-face{
  font-family: "Proxima-Nova-Regular";
  src:
      local("Proxima-Nova-Regular")
      local("Proxima-Nova-Regular")
      url("../../fonts/Mark Simonson - Proxima Nova Regular.otf");

  ;

}

@font-face{
  font-family: "Proxima-Nova-Semibold";
  src:
      local("Proxima-Nova-Semibold")
      local("Proxima-Nova-Semibold")
      url("../../fonts/Mark Simonson - Proxima Nova Regular.otf");
;
}

@font-face{
	font-family: 'Proxima-Nova-Light';
	src:
	local('Proxima-Nova-Light'),
	local('Proxima-Nova-Light'),
	url("../../fonts/Mark Simonson - Proxima Nova Light.otf");
	;
}

@font-face{
	font-family: 'Proxima-Nova-Bold';
	src:
	local('Proxima-Nova-Bold'),
	local('Proxima-Nova-Bold'),
	url("../../fonts/Mark Simonson - Proxima Nova Bold.otf");
	;
}


#subhead{
	font-family: 'Proxima-Nova-Light';
	font-size: 19px;
	text-align: center;
	color: white;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	top: 110px;
	left: 950px;
	margin-top: 10px;
}

#logo-img{
	margin-top: 45px;

}

body{
	background-color: #eaeaea;
	text-align: center;
	min-width: 320px;
}

#wrapper{
	max-width: 1580px;
	min-width: 320px;
	margin: 0 auto;
	display: block;
	
}

#dym{
	background-color: #ffffff;
	margin: 0 auto;
	max-width: 1200px;
}

#maincontainer .row {
	margin: 70px 0 45px;
}

.header{
	position: relative;
	background-image: url("../../imgs/profiles/header.jpg");
	width: 100%;
	height: 185px;
	background-color: #ffffff; 
	display: block;
	background-size: cover;
}

.star{
	/*margin-left: 100px;*/
}

.row{
	margin-top: 70px;
}

.row-wrapper {
	text-align: left;
	max-width: 280px;
	margin: 0px 0 0 23%;
}

@media screen and (max-width: 768px) {
	.row-wrapper {
		margin: 0 auto;
	}
}

#prostatus{
	font-family: Karbon-Semibold;
	font-size: 24px;
	text-align: left;
	color: #3c3c3c;
	margin-top: 20px;
	margin-bottom: 9px;
}

#substatus{
	font-family: Karbon-Light;
	font-size: 21px;
	color: #5c5c5c;
	margin-bottom: 18px;
	margin-top:-1px;
}

#insights{
	font-family: Karbon-Light;
	font-size: 21px;
	color: #5c5c5c;
	margin-bottom: -3px;
	margin-top: 15px;
}

.mediaicons {
    color: #444172;
    text-indent: 1em;
    position: absolute;
    margin-left: -28px;

}


.mediaicons:hover{
	color: #3c3d4d;
}

#infos{
	width: 47%;
}

.blurb{
	margin-left: 4.7%;
	max-width: 660px;
	margin-right: -151px;
}

.one{
	font-family: 'Proxima-Nova-Semibold';
	font-size: 24px;
	text-align: left;
	margin-bottom: 0px;	
	margin-top: -8px;
	color: #3c3c3c;
}

.two{
	font-family: 'Proxima-Nova-Regular';
	font-size: 19px;
	text-align: left;
	margin-bottom: 47px;
	color: #5c5c5c;
}

.second{
	margin-bottom: 55px;
	font-family: 'Proxima-Nova-Regular';
	font-size: 19px;
	text-align: left;
	color: #5c5c5c;
}

.img-responsive{
	max-width: 100%;
	height: auto;
}

#caption{
	font-family: 'Proxima-Nova-Regular';
	font-style: italic;
	font-size: 16px;
	text-align: left;
	margin-bottom: 60px;
	color: #7d7d86;
}

#say{
	text-align: left;
	margin-bottom: 85px;
}

/*.question{
	font-family: '';
	font-size: 24px;
	margin-top: -12px;
}*/

.answer{
	font-family: 'Proxima-Nova-Regular';
	font-size: 19px;
	margin: 6px 0;
	color: #5c5c5c;
}

.interest{
	font-family: 'Proxima-Nova-Regular';
	font-size: 16px;
	text-align: left;
	margin-bottom: -21px;
	margin-top: -13px;
}

#career{
	font-family: 'Proxima-Nova-Bold';
	color: #444172;
}

