@font-face{

font-family: 'Karbon-semibold';
src:
    local('Karbon-semibold'),
    local('Karbon-semibold'),
    url('../fonts/Karbon-Semibold.otf');
  ;
}

@font-face{

font-family: 'Karbon-light';
src:
    local('Karbon-light'),
    local('Karbon-light'),
    url('../fonts/Karbon-Light.otf');
  ;
}

@font-face{

font-family: 'Proxima-Nova-light';
src:
    local('Proxima-Nova-light'),
    local('Proxima-Nova-light'),
    url('../fonts/Mark Simonson - Proxima Nova Alt Thin.otf');
  ;
}


@font-face{
font-family: "Karbon";
  src:
      local("Karbon"),
      local("Karbon"),
      url("../fonts/Karbon-Regular.otf");
}

@font-face{
  font-family: "Proxima-Nova";
  src:
      local("Proxima-Nova")
      local("Proxima-Nova")
      url("../fonts/Mark Simonson - Proxima Nova Regular.otf")

  ;

}

@font-face{
  font-family: "Proxima-Nova-Semibold";
  src:
      local("Proxima-Nova-Semibold")
      local("Proxima-Nova-Semibold")
      url("../fonts/Mark Simonson - Proxima Nova Semibold.otf")

  ;

}

.backgroundC{

  background-color: #f6f8fa;
}

.container-fluid{

  margin-right: auto;
  margin-left:auto;
  padding-right: 0px;
  padding-left: 0px;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 44.25%;
}

.embed-responsive .embed-responsive-item {
  height: 382px;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width:100%;
    max-height: 100%;
    
}



h2, .h2 {

font-size: 38px;
font-weight:inherit;
font-family: 'Karbon-semibold';

}



.row{
  margin-left: 20px;
  margin-right: 20px;
 

}


.image-bg-fluid-height {
	background: url('dym-mainHero.png') no-repeat center center scroll;
  padding: 17px 0;
  background-size: cover;

    
}

.img-center {
	margin: 0 auto;
  padding-top: 107px;
  width: 160px;
}


@media screen and (max-width: 768px){

  .img-center {

    width: 88px;
  }

}



/*Banner*/
.dymheader{

    /*background-color: #f6f8fa;*/
    padding:40px;
    font-weight: lighter;
}

.landingbtn{

    padding-top:39px;
    padding-bottom: 4px;
    vertical-align: middle;

}

@media screen and (max-width: 768px){

  .landingbtn {

    width: 42px;
  }

}


.infoDYM{
    font-size: 19px;
    margin-bottom: 42px;
    text-align: left;
    word-spacing: -1px;
    font-family: "Proxima-Nova";
    color: #797979;
}

.infoDYMHeader{
    position: absolute;
    max-height:403px; 
    max-width:450px;
    padding-top: 1px;
    top:100px;
    color: #3c3c3c;
    margin-left: 100px;
}

.tagline{

  margin-top: 24px;
  max-width: 660px;
  display: block;
  margin: 0 auto;
}


@media screen and (max-width: 768px){

  .tagline{

    font-size: 14px;
    margin-top: 0px;
    font-family: "Proxima-Nova-light";
    line-height:1.5em;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 100px;
  
  }

}

.taglinetext{

    color: white;
    font-size: 24px;
    padding-top: 10px;
    font-weight: lighter;
    font-family: "Karbon";
    line-height: 1.5em;
    padding: 10px;
    letter-spacing: 10;
}


.headerarrow{

    margin: 10px;
}


/*About Dear Younger Me content*/

.infosection{

padding-bottom:60px;
color: #5c5c5c;
font-family: "Proxima-Nova";


}

.aboutDYM{

    font-weight: lighter;
    text-align: center;
    line-height: 2em;
    max-width: 1215px;
    background-color: #fff;
    margin: 0 auto;

}

.about-content{

  padding-top:96px;
  padding-left: 112px;
  padding-right: 112px; 

}

#dym-description{
        position:relative;
        text-align: left;
        right: 41px;
      }

@media screen and (max-width: 1000px){

      #dym-description{
        right: 0px;
      }
}

@media screen and (max-width: 768px){


  .about-content{

    padding:0px 5px; 

  }

  #dym-description{
    right: 0px;
    padding: 0px;
  }

}


.dym-des-hdr{
  font-family: "Karbon-semibold";
  font-size:38px;
  color: #3c3c3c;

}

@media screen and (max-width: 768px){

  .dym-des-hdr{
    font-size: 25px;
    color:#3c3c3c;
    white-space: nowrap;
  }

  .dym-des-txt{

  font-family: "Proxima-Nova";
  font-size: 19px;
  text-align: left;
  line-height: 24pt;
  word-spacing: -2px;
  color: #5c5c5c;
}

}

.dym-des-txt{

  font-family: "Proxima-Nova";
  font-size: 19px;
  text-align: left;
  line-height: 24pt;
  word-spacing: -2px;
  color: #5c5c5c;
}



#videotxt{
  padding-top: 7px;
  padding-bottom: 88px;
  right: 31px;
  font-family: "Proxima-Nova";
  font-size: 16px;

}




#overlayvid{

  background-color: black;
  position:absolute;
  width: 485px ;
  height: 392px ;
  float: right;
}

#dymvideo{

   margin-top: 24px;
    
}



@media screen and (max-width: 768px){

  .dym-des-hdr{
    font-size: 25px;
    color:#3c3c3c;
    white-space: nowrap;
    margin-top: 50px;
  }

  .dym-des-txt{
  font-size: 15px;
  margin-bottom:50px;
  }

  .socialtxt{
  font-size: 15px;
  }

  #videotxt{
  padding-top: 12px;
  padding-bottom: 39px;
  right: 15px;
  
  font-size: 15px;
  }

  #dymvideo{
    margin-top: 45px;
    padding: 0px 5px;
    text-align: left;
  }

}


.playdym{

  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;


}

.videowrapper{

  position: relative;

}

.videowrapper img{

  max-width: 100%;

}

@media screen and (max-width: 1200px) {

    #videotxt{
   top:50%;
   left:50%;
    }

    .videowrapper{
       top:50%;
      left:50%;
    }
}

  @media screen and (max-width: 768px) {

  #videotxt{
 top:0%;
 left:0%;
  }

  .videowrapper{
     top:0%;
    left:0%;
  }
      
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #videotxt{
   top:25%;
   left:25%;
    }

  .videowrapper{
       top:25%;
      left:25%;
    }

}


.DYMsocial{

  font-family: "Proxima-Nova";
}

.socialtxt{

  font-size: 19px;
  margin-right: 12px;
  color: #5c5c5c;

}

.fa-facebook-square{

 /* color: #3B5998;*/
  color: #484574;
   transition: color 1s;
   margin-right: 16px;
}

.fa-facebook-square:hover{
  color: #3c3d4d;
}

 

.fa-linkedin-square{
 color: #484574;
  
  margin-left: 16px;
  transition: color 1s;
}


.fa-linkedin-square:hover{
 color: #3c3d4d;
}

.fa-twitter-square{
  color: #484574;
  margin-left: 32px;
  transition: color 1s;
}

.fa-twitter-square:hover{
  color:#3c3d4d;
}

.logoicons{
    max-width: 100px;
    margin-right: 301px;
    display: inline-flex;
  }





/* Random */


.DYMbtn {

  font-family: "Proxima-Nova-Semibold";
  background-color: #3c3d4d;
  width: 137px;
  height: 32px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
}

}

.DYMbtn:hover{

  background-color:#3c3d4d;
  color: #fff;
  
}


.headerlb{

    border: 0;    
  height: 1px;    
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,3.6), rgba(0,0,0,0));    
   background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,3.6), rgba(0,0,0,0));     
   background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));    
   background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));

}

.viewbtn{

  
  padding-top: 26px;
  padding-bottom: 20px;

}

.btn-default {
  color: #fff;
  background-color: #3b3b4c;
  border-color: #ccc;
  width: 130px;
  height: 34px;
  border-radius: 5px;
  font-family: "Proxima-Nova-Semibold";
  font-size:13.84px;
}


.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #24242e;
  border-color: #3b3b4c;
}




video {

  max-width: 100%;
  min-width: 485px;
  max-height: 382px;
  min-height: 100%;
}

.gridghost{

  display: none;
}

#aboutDYM{
  overflow-x:hidden;
}
  
