.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 44.25%;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width:100%;
    max-height: 100%;
    
}



h2, .h2 {

font-size: 24px;
font-weight:inherit;

}

.row {
  margin-bottom: 10px;
}


.image-bg-fluid-height {
	background: url('Top-Page.png') no-repeat center center scroll;
  padding: 17px 0;
    background-size: cover;
    
}

.img-center {
	margin: 0 auto;
}


footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}








/*Banner*/
.dymheader{

    background-color: #f6f8fa;
    padding:40px;
    font-weight: lighter;
}

.infoDYM{
    font-size: 20.97px;
    margin-bottom: 42px;
}

.infoDYMHeader{
    position: absolute;
    max-height:403px; 
    max-width:450px;
    padding-top: 1px;
    top:100px;
}


.headerarrow{

    margin: 10px;
}

div.linebreaks{

  border-top: 1px solid rgba(150,150,150,3.6);
  border-bottom: 1px solid rgba(150,150,150,3.6);
  max-width: 850px;
  margin:0 auto;


}


/*About Dear Younger Me content*/


.aboutDYM{
    font-weight: lighter;
    text-align: center;
    line-height: 2em;
    max-width: 1215px;
    max-height: 2380px;
    background-color: #f6f8fa;
    margin: 0 auto;
    margin-top: 14px;

}

.logoicons{
    padding-bottom: 74px;

}
.taglinetext {

    color: white;
    font-size: 26px;
    padding-top: 10px;
    font-weight: lighter;
    line-height: 1.5em;
    padding: 10px;
}


/*Video*/

.simple-video-wrapper {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  height: 400px;
  margin: 0 auto;
  position: relative;
  width: 453px;
  left: 267px;
  
}

.simple-video-overlay {
  background: rgba(0,0,0,0.2) url(button.png) 50% 50% no-repeat;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

video.DYMvideo{

    position: relative;
    margin-bottom: 47px;
    right: 0px;
    width: 998px;
    height: 558px;

   
}

p#videotxt{

  margin-left: 414px;
  font-weight: bold;
}

embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 486px;
  max-height: 393px;
  border: 0;
}
#vidlbs {

border-bottom: 1px solid rgba(150,150,150,3.6);
    max-width: 993px;
    margin:0 auto;

}

.videocontents{

    margin-top: 64px;
}


/*Container for Profiles*/
#procontanier{
 margin-right: 44px;
 margin-left: 31px;

}

#profilebox{
    position: relative;
    width:284px;
    height: 331px;
   /* border:1px solid black;*/
    border-radius:5px;
    background-color: #eef1f3;
    
    font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;

   /* display: inline-table;*/
    margin: 0 5px 5px 0;
    padding: 30px;
    

}

/*Profile Layout*/

.profilepic{

    max-height: 230px;
    position: relative;
    margin-top: 15px;

}

  @media (min-width: 500px){

    .bioinfo{

      font-size: 50%;
      

    }

}


.bioinfo {
   position: absolute; 
   bottom: 35px; 
   left: 12px;
   color: black;
  font-family: ‘Metrophobic’, Arial, serif; font-weight: 700; 
  font-size: 12px;
}

.biosubinfo{
    position: absolute; 
   bottom: 14px; 
   left: 12px;
   font-weight: lighter;
   font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
   font-size: 11px;

}

.titlesubinfo{

 position: absolute; 
   bottom: -3px; 
   left: 11px;
   font-weight: lighter;
   font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
   font-size: 10px;

}


/* Random */

.btn .btn-default{
    background-color: #3c3d4d;
    width: 205px;

}


.headerlb{

    border: 0;    
  height: 1px;    
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,3.6), rgba(0,0,0,0));    
   background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,3.6), rgba(0,0,0,0));     
   background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));    
   background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));

}



}


/*hr:after{
 display: inline-block;
  content: "";
  height: 4px;
  background: #f00;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -2px;
  margin-left: 10px;
}*/


video {

  max-width: 100%;
  min-width: 300px;
  max-height: 300px;
  min-height: 100%;
}





/* Gradient transparent - color - transparent */    
hr.probrks
{ 
  border: 0;    
  height: 1px;    
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.10), rgba(0,0,0,0));    
   background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.10), rgba(0,0,0,0));     
   background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.10), rgba(0,0,0,0));    
   background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.10), rgba(0,0,0,0)); 


 }


hr{


    border: 0;    
  height: 1px;    
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,3.6), rgba(0,0,0,0));    
   background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,3.6), rgba(0,0,0,0));     
   background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));    
   background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
}




















































































































