 /*Diveder for Grid*/
#griddvdr{

    border-top: 1px solid #9f9f9f;
    max-width: 1000px;
    margin:0 auto;


}
/*Container for the Grid*/

#thegrid{
  margin-top: 60px;
}

/*Grid Contents*/
.gridcontents{
    padding-top:40px;
}

/*Header of Leaders At Inflection*/
.leaderheader{
  position: relative;
}

.lhtext{
  position: absolute;
  color:#3c3c3c;
  left:104px;
  bottom:-40px;
  font-size: 38px;
  font-family: "Karbon-semibold";
}
/*Container for Profiles*/

#procontainer{
  padding:70px;
  padding-bottom: 0px;
}

#ghostcontainer{
  padding:0px 70px 0px 70px;
}

#profilebox{
    position: relative;
    height: 322px;
    background-color: #eef1f3;
    max-width: 230px;
    color: #3c3d4d;
    margin-top: 27px;
}


/*Profile Layout*/

.first4{

  margin-bottom: -4px;

}

.profilepic{

    max-height: 229px;
    position: relative;
}


.profiletext{

  padding: 20px;
  text-align: left;


}  


.bioinfo {
  margin: 0px 10px 0px 0px;
   color: #444172;
  font-family: "Proxima-Nova-Semibold";
  font-size: 19px;
  margin-right: 10px;
}

.bioinfo:hover{

  color: #3c3d4d;
}




.biosubinfo{
   font-weight: lighter;
   font-family: "Proxima-Nova";
   font-size: 14.9px;
   margin-bottom: -12px;
   margin-top: -9px;

}

.titlesubinfo{

   /* margin: -10px 10px 0px 0px;*/
   font-weight: lighter;
   font-family: "Proxima-Nova";
   font-size: 14.9px;
   margin-right: 10px;

}